.lightMode{
  background-color: #E5446D;
  padding: 1em 2em;
  border-radius: 8px;
  margin-bottom: 2em;
  color:#2A2B2A;
  box-shadow: 10px 10px 5px #2A2B2A;
}

.darkMode{
  background-color: #2A2B2A;
  padding: 1em 2em;
  border-radius: 8px;
  margin-bottom: 2em;
  color:#E5446D;
  box-shadow: 10px 10px 5px #E5446D;
} 