.page-container {
  padding: 50px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #232323;
}

.light-mode {
  background-color: #ffffff;
  color: #202020;
}

.dark-mode {
  background-color: #3C3C38;
  color: #f8f4e3;
}
