#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color:#2a2b2a;
}

.page-container {
  padding: 50px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #232323;
}
.card {
  padding: 2em;
}

.navbar {
  background-color: #EF9CA8;
  padding: 1em 2em;
  border-radius: 8px;
  margin-bottom: 2em;
  color:#f8f4e3;
  box-shadow: 10px 10px 5px #2A2B2A;
}

.nav-links{
  list-style-type: none;
  margin:5px;
  padding:10px;
  
}
.nav-item {
  float: left;
  margin-right: 20px;

}
.nav-item a {
  display:block;
  margin-bottom: 20px;
  color: #202020;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.read-the-docs {
  color: #888;
}


.profile-card img {
  width:75px;
  height: 75px;
  border-radius: 50%;
  border-style: none;
  object-fit: cover;
  margin-bottom: 1em;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
}



.profile-card {
  border: 1px solid #FCBFA5;
  border-radius: 8px;
  padding: 16px;
  width:100px;
  max-width: 200px;
  text-align: center;
  background-color: #706c61;
  color:#f8f4e3;
  box-shadow: 10px 10px 5px #232323;
}

.about-section h2 {
  color:#FCBFA5;
}
.about-section p {
  color:#f8f4e3
}

.filter-dropdown{
  margin: 10px;
}
.filter-search{
  margin: 10px;
}

.clear-button{
  background-color:#EF9CA8;
  color:#202020;
}

.clear-button:hover{
  background-color: #EA708B;
  color:#202020;
  cursor:pointer;
}


.light-mode {
  background-color: #f0f0f0;
  color: #202020;

  --card-bg-color: #ffffff;
  --nav-bg-color: #EF9CA8;
  --nav-text-color: #202020;
  --body-bg-color:#f0f0f0;
}
.profile-card.light-mode{
  background-color:#EF9CA8;
  color:#202020;
}

.dark-mode {
  background-color: #2a2b2a;
  --text-color: #f8f4e3;
  --card-bg-color: #3C3C38;
  --nav-bg-color: #706c61;
  --nav-text-color: #f8f4e3;
}

form{
  margin: 20px;
  
}
form label{
  margin-right:10px;
  margin-left: 10px;
  display:inline-block;
}
